---
layout: default
---

<div class="home">

  <h1 class="page-heading">文章列表</h1>
  
  （一）跳转至：<a href="https://wcodeplus.github.io/a.html" target="blank">a.html</a> <br>
  （二）跳转至：<a href="https://wcodeplus.github.io/docs/index.html" target="blank">a.html</a> <br>
  <hr>
  <ul>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
    <li style="width: 100px; height: 100px; background-color: #09a; list-style: none; margin: 10px; float: left;"></li>
  </ul>
  <div style="height: 1px;"></div>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M:%S" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
