---
layout: default
---

<style type="text/css" media="screen">
  .clearfix {overflow:auto;_height:1%}
  #courseList { padding: 0px 5px; }
  #courseList li { width: 110px; height: 110px; background-color: #fff; list-style: none; margin: 5px; float: left; box-shadow: 0 1px 5px #c3c3c3; }
</style>

<div class="home">

  <h2 class="page-heading">文章列表1</h2>
  
  （一）跳转至：<a href="/docs/frontend/#/page1" target="blank">page1</a> <br>
  （二）跳转至：<a href="/docs/frontend/#/page2" target="blank">page2</a> <br>
  （三）跳转至：<a href="/docs/frontend" target="blank">web前端教程</a> <br>
  （三）跳转至：<a href="/docs/php" target="blank">PHP教程</a> <br>
  <hr>
  <ul id="courseList" class="clearfix">
    <li></li>
  </ul>
  <hr>
  
  {{ content }}
  
  <h2>文章列表2</h2>
  <hr>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M:%S" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
