---
layout: default
---

<style type="text/css" media="screen">
  .clearfix {overflow:auto;_height:1%}
  #docsList { padding: 0 15px; text-decoration: none; text-align: center; box-sizing: border-box; }
  #docsList ul { padding: 0; margin: 0px; }
  #docsList li { list-style: none; float: left; border: 1px solid #ccc; width: 128px; height: 50px; margin: 10px 18px 0px 0px; font-size: 12px; box-shadow: 0 1px 5px #c3c3c3; padding-top: 5px; }
  #courseList { padding: 0px 15px; text-decoration: none; text-align: center; box-sizing: border-box;  }
  #courseList ul { padding: 0px; margin: 0px; }
  #courseList li { width: 128px; height: 140px; background-color: #fff; list-style: none; margin: 10px 18px 0px 0px; float: left; box-shadow: 0 1px 5px #c3c3c3; font-size: 12px; padding-top: 5px;  }
  #courseList li img { width: 120px; height: 120px; }
</style>

<div class="home">

  <h2 class="page-heading">Part 1 文档教程</h2>
  <hr>
  <div>
    <ul style="margin: 0; padding: 0" id="docsList" class="clearfix">
      <li><a href="/docs/frontend" target="blank">开篇说<br>课程介绍</a></li>
      <li><a href="/docs/frontend" target="blank">第一篇<br>前端基础</a></li>
      <li><a href="/docs/php" target="blank">第二篇<br>PC端页面布局与技巧</a></li>
      <li><a href="/docs/wait" target="blank">第三篇<br>移动端页面与布局</a></li>
      <li><a href="/docs/wait" target="blank">第四篇<br>JavaScript基础</a></li>
      <li><a href="/docs/wait" target="blank">第五篇<br>JavaScript提高</a></li>
      <li><a href="/docs/wait" target="blank">第六篇<br>JavaScript实战案例大全</a></li>
      <li><a href="/docs/wait" target="blank">第七篇<br>Jquery知识点与案例</a></li>
      <li><a href="/docs/wait" target="blank">第八篇<br>Jquery插件推荐与使用</a></li>
      <li><a href="/docs/wait" target="blank">第九篇<br>前端知识补充（Echarts等）</a></li>
      <li><a href="/docs/wait" target="blank">第十篇<br>未完待续..</a></li>
      <li><a href="/docs/wait" target="blank">第十一篇<br>未完待续..</a></li>
      <li><a href="/docs/wait" target="blank">第十二篇<br>未完待续..</a></li>
      <li><a href="/docs/wait" target="blank">第十三篇<br>未完待续..</a></li>
      <li><a href="/docs/wait" target="blank">第十四篇<br>未完待续..</a></li>
      <li><a href="/docs/wait" target="blank">第十五篇<br>未完待续..</a></li>

    </ul>
  </div>
  <br><br>
  <h2 class="page-heading">Part 2 视频教程</h2>
  <hr>
  <div>
    <ul style="margin: 0; padding: 0" id="courseList" class="clearfix">
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
      <li><img src="/static/wait.png" alt=""></li>
    </ul>
  </div>
  
  
  <!-- {{ content }} -->
  <br><br>
  <h2>Part 3 文章列表</h2>
  <hr>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M:%S" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
